<!DOCTYPE html>
<html>
  <head>
    <title>LCBO Info</title>
     <meta name="viewport" content="width=device-width, initial-scale=1"> 
    <link rel= "stylesheet" href= "{{ url_for('static',filename='styles/style.css') }}" media="screen">
    <link href="https://fonts.googleapis.com/css?family=Grand+Hotel" rel="stylesheet">
      <script src="static/mapLoad.js"></script>
  </head>


  <body>
        <div class="box"></div>
      <h1 class ="fancy"> <center>LCBO Project</center></h1>

      <div class="navbar" >
        <ul>
          <li><a href="./lcbo.html">Home</a></li>
          <li><a class ="active" href="#">Map</a></li>
          <li><a href="./stores.html">Stores</a></li>
          <li><a href="./search.html">Search</a></li>
            </div>
          </li>
        </ul>
      </div>
      <hr>
    </div>  

    <div id="mapBox"> Click on a store </div>

    <div id="map"></div>
    <button id="saveFav">Save as Favourite</button>
    <script>
      var map;
      var markers = [];
      var showInfo= false;
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          zoom: 11,
          center: new google.maps.LatLng(43.4643,-80.5204),
          mapTypeId: 'terrain'
        });

         if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function(position) {
            var pos = {
              lat: position.coords.latitude,
              lng: position.coords.longitude
            };

            map.setCenter(pos);
          }, function() {
            handleLocationError(true, errorWindow, map.getCenter());
          });
        } else {
          // Browser doesn't support Geolocation
          handleLocationError(false, errorWindow, map.getCenter());
        }

      var errorwindow = new google.maps.InfoWindow({content:''});
      function handleLocationError(browserHasGeolocation, infoWindow, pos) {

        infoWindow.setPosition(pos);
        infoWindow.setContent(browserHasGeolocation ?
                              'Error: The Geolocation service failed.' :
                              'Error: Your browser doesn\'t support geolocation.');
      }


        // Create a <script> tag and set the USGS URL as the source.
        //var script = document.createElement('script');
        // This example uses a local copy of the GeoJSON stored at
        // http://earthquake.usgs.gov/earthquakes/feed/v1.0/summary/2.5_week.geojsonp
        //script.src = 'https://developers.google.com/maps/documentation/javascript/examples/json/earthquake_GeoJSONP.js';
        //document.getElementsByTagName('head')[0].appendChild(script);
        var infowindow = new google.maps.InfoWindow({
          content: ''
        });


        for (var i = 0; i < numStores; i++) {
          var latLng = new google.maps.LatLng(stores[i].lat,stores[i].long);
          var marker = new google.maps.Marker({
            position: latLng,
            map: map,
            title: 'Click to view more information'//stores[i].name
            //label: i.toString()
          });

          markers.push(marker);
          markers[i].addListener('click', function() {
          currStore=this.id;
          if(map.getZoom()<12)
              map.setZoom(12);
          map.setCenter(this.getPosition());
          var index = markers.indexOf(this);
          currStore = stores[index];
          document.getElementById('mapBox').innerHTML = currStore.name+'<br>Address: '+
          currStore.address +'<br>Open from whenever <br>'+'<a href="./stores.html">See products at this store</a>';
          localStorage.currStore = currStore.id;
        });


          markers[i].addListener('mouseover', function() {
            var index = markers.indexOf(this);
            infowindow.setContent(stores[index].name);
            infowindow.open(map,this);
            showInfo=true;
        });

        markers[i].addListener('mouseout', function() {
          showInfo=false;
          var index = markers.indexOf(this);
            window.setTimeout(function() {
              if(!showInfo && infowindow.getContent() == stores[index].name){
                  infowindow.close();}
          }, 3000);
        });
          
      }

          
      }
    </script>
   <!-- <script async defer
    src="https://maps.googleapis.com/maps/api/js?callback=initMap"> //key=YOUR_API_KEY&
    </script>-->
    <script>
     if(document.getElementById('saveFav')!=null){
        document.getElementById('saveFav').addEventListener('click',saveFavourite);}
    </script>
  </body>
</html>