
<!DOCTYPE html>
<html>
  <head>
    <title>LCBO Info</title>
     <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel= "stylesheet" href= "{{ url_for('static',filename='styles/style.css') }}" media="screen">
    <link href="https://fonts.googleapis.com/css?family=Grand+Hotel" rel="stylesheet">
    <script src="static/main.js"> </script>
  </head>


  <body>
        <div class="box"></div>
      <h1 class ="fancy"> <center>LCBO Project</center></h1>

      <div class="navbar" >
        <ul>
          <li><a class="active" href="#home">Home</a></li>
          <li><a href="./map.html">Map</a></li>
          <li><a href="./stores.html">Stores</a></li>
          <li><a href="./search.html">Cheapest Alcohol Calculator</a></li>
        </ul>
      </div>

      <hr>

      <div class="display">
      <h1><center>WATER WATER WATER</center> </h1>
      <h2><center>LOO LOO LOO</center></h2>

    <h1 id="stores"></h1>
    <h1 id="store_name"></h1>
    <h2 id="product"> <br> </h2>
    </div>
  </body>
</html>